.gpa-body {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.course-container {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.calculate {
  margin-top: 10px;
  width: 200px;
  border-radius: 10px;
  animation: buttonScale 0.2s ease-in-out;
}

@keyframes buttonScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
