.gpa-body {
  margin: 0 auto;
  width: 500px;
}

.semester {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.course-container .form-group {
  flex: 1;
  margin-right: 15px;
  margin-bottom: 0;
}

.form-label {
  margin-bottom: 5px;
  margin-right: 30px;
}

.form-control {
  margin-bottom: 7px;
  padding: 5px 5px;
  border-radius: 7px;
  border: solid 2px #000000be;
}

.removecourse,
.addcourse {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0px 3px;
}

.removecourse:hover,
.addcourse:hover {
  background-color: #bbb;
}

.calculate {
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0px 3px;
}

.addsemester,
.calculate-cgpa {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 3px 3px;
}

.calculate-cgpa {
  background-color: #000000be;
}

.addsemester:hover,
.calculate-cgpa:hover {
  background-color: #bbb;
  transform: scale(1.1); /* Add scaling animation on hover */
  background-color: #008000;
}

.add-remove{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.removesemester {
  border-radius: 7px;
  padding: 5px;
  margin-top: 5px;
}

.removediv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.removesemester:hover {
  transition: 1s;
  transform: scale(0.9); /* Add scaling animation on hover */
  background-color: #f74747;
  cursor: pointer;
}

.addsem{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calculate:hover {
  background-color: #006600;
}

.cgpa-meter {
  margin-top: 20px;
}

.meter {
  width: 100%;
  margin-bottom: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.meter-fill {
  height: 100%;
  background-color: #52b788;
  transition: width 0.5s ease-in-out;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  background-color: #ccc;
  font-weight: bolder;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}

.guide {
  margin-right: auto;
}

.text-pa:hover{
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 40px #fff,
               0 0 80px #fff,
               0 0 120px #fff,
               0 0 160px #fff;

}