.gpa-body {
  margin: 0 auto;
  width: 500px;
}

.semester {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.course-container {
  margin-bottom: 10px;
}

.removecourse,
.addcourse {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.removecourse:hover,
.addcourse:hover {
  background-color: #bbb;
}

.calculate {
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.addsemester,
.calculate-cgpa {
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
}



.removesemester {
  border-radius: 10px;
  padding: 5px;
  margin-top: 3px;
}

.removesemester:hover{
  background-color: red;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.calculate:hover {
  background-color: #006600;
}

.cgpa-meter {
  margin-top: 20px;
}

.meter {
  width: 100%;
  margin-bottom: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.meter-fill {
  height: 100%;
  background-color: #52b788;
  transition: width 0.5s ease-in-out;
}