*{
    box-sizing: border-box;
}
.main-counter{
    background: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-counter button{
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 7px;
}

.main-counter h3{
    font-size: 50px;
}

.main-header > ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.main-header > ul >li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: larger;
}



/*For the calculator*/
.calc{
    width: 320px;
    margin: 100px auto;
}

#answer{
    padding: 10px;
    font-size: 35px;
    width: 320px;
    background-color: azure;
    text-align: right;
    border: 3px solid #333; 
}

.button{
background-color: #333;
height: 80px;
width: 80px;
color: white;
font-size: 30px;
border: 1px solid black;
float: left;
}

.button1{
    width: 160px;
}